@font-face {
  font-family: 'robot regular';
  src:
    url('./assets/roboto-regular.woff2') format('.woff2'),
    url('./assets/roboto-regular.woff') format('.woff');
}

@font-face {
  font-family: 'roboto medium';
  src:
    url('./assets/roboto-medium.woff2') format('.woff2'),
    url('./assets/roboto-medium.woff') format('.woff');
}

:root {
  --roboto-regular: 'roboto regular', sans-serif;
  --roboto-medium: 'roboto medium', sans-serif;
}

body {
  margin: 0;
  font-family: var(--roboto-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;

  h1,
  h2,
  h3 {
    font-family: var(--roboto-medium);
    color: #444;
    letter-spacing: 0.5px;
    line-height: 1.6;
  }
}

.home {
  margin: 0 auto;
  text-align: center;
}

.home nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
  position: relative;
  padding-top: 20px;

  a {
    background: none;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
    display: inline-block;
    padding: 10px 20px;

    &:hover {
      background-color: #333;
      color: white;
      border-radius: 4px;
    }
  }
}

.desktop-nav {
  display: flex;
}

.mobile-nav {
  display: none;
}

.menu-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  padding: 5px;
}

.mobile-menu {
  position: absolute;
  width: 94%;
  min-height: 150px;
  top: 65px;
  left: 0;
  background: white;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
  }
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
}

.loading,
.error {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}

.error {
  color: #ff4d4f;
}
