@import 'tailwindcss';

@theme {
	--color-page-green: #10b981;
}

@layer base {
	body {
		font-family: var(--font-geist-mono);
      background-color: #f0f2f5;
	}

	h1,
	h2,
	h3 {
		font-family: var(--font-geist-sans);
	}
}

@layer components {
	
   .nav-link {
      @apply text-lg px-5 py-2 block border-b-2 border-b-transparent hover:border-b-page-green
   }
   .nav-btn {
      @apply bg-page-green p-2 rounded-md text-white text-lg ml-8 cursor-pointer
   }
}
