@font-face {
  font-family: 'robot regular';
  src:
    url('./assets/roboto-regular.woff2') format('.woff2'),
    url('./assets/roboto-regular.woff') format('.woff');
}

@font-face {
  font-family: 'roboto medium';
  src:
    url('./assets/roboto-medium.woff2') format('.woff2'),
    url('./assets/roboto-medium.woff') format('.woff');
}

:root {
  --roboto-regular: 'roboto regular', sans-serif;
  --roboto-medium: 'roboto medium', sans-serif;
}

body {
  margin: 0;
  font-family: var(--roboto-regular);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;

  h1,
  h2,
  h3 {
    font-family: var(--roboto-medium);
    color: #444;
    letter-spacing: 0.5px;
    line-height: 1.6;
  }
}

.home {
  margin: 0 auto;
  text-align: center;
}

.home nav {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  a {
    background: none;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
    display: inline-block;
    padding: 10px 20px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
}

.loading,
.error {
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}

.error {
  color: #ff4d4f;
}
